[Unit]
Description=Certificate renewer for {{ auth_cert_service }}
After=network-online.target
Documentation=https://smallstep.com/docs/step-ca/certificate-authority-server-production
StartLimitIntervalSec=0

[Service]
Type=oneshot
User=root

Environment=STEPPATH=/etc/step-ca \
            CERT_LOCATION={{ smallstep_certificate_full_path }} \
            KEY_LOCATION={{ smallstep_key_full_path }}

; ExecCondition checks if the certificate is ready for renewal,
; based on the exit status of the command.
; (In systemd 242 or below, you can use ExecStartPre= here.)
ExecCondition=/usr/bin/step certificate needs-renewal ${CERT_LOCATION}

; ExecStart renews the certificate, if ExecStartPre was successful.
ExecStart=/usr/bin/step ca renew --force ${CERT_LOCATION} ${KEY_LOCATION}

ExecStartPost=cp -f {{ smallstep_certificate_full_path }} {{ authentik_certificate_full_path }}
ExecStartPost=cp -f {{ smallstep_key_full_path }} {{ authentik_key_full_path }}
ExecStartPost=chmod 666 {{ authentik_certificate_full_path }}
ExecStartPost=chmod 666 {{ authentik_key_full_path }}

ExecStartPost=/usr/bin/env sh -c "! systemctl --quiet is-enabled {{ authentik_dependent_service }}.service || systemctl try-reload-or-restart {{ authentik_dependent_service }}"

[Install]
WantedBy=multi-user.target